<section>

    <article class="jumbotron">
        <h1>Order Your Burger </h1>
        <p>Burger Orders</p>
        <br>
        <h2>Select a Burger</h2>
        <panel>
            <form class="create-form">
                <article class="form-group">
                    <label for="newburger">Order Burger</label>
                    <input type="text" id="newburger" name="burger">

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-ip"></span>
                    </button>

                </article>
            </form>
        </panel>
    </article>

    <article class="row">
        <section class="col-sm-6">
            <article class="panel panel-default">
                <section class="panel-heading" id="leftside"><strong>Order Burger</strong>
                <p>Send order to chef</p>
                </section>

                <div class="panel-body">

                </div>
            </article>
        </section>

                <section class="col-sm-6">
            <article class="panel panel-default">
                <section class="panel-heading" id="leftside"><strong>Burger Ready</strong>
                <p>ahhh placeholder</p>
                </section>

                <div class="panel-body">
                    
                </div>
            </article>
        </section>




    </article>

</section>