<section>

    <div class="jumbotron">
        <h1>Order Your Burger </h1>
        <p>Burger Orders</p>
        <br>
        <h2>Select a Burger</h2>
        <panel>
            <form class="create-form">
                <article class="form-group">
                    <label for="newburger">Order Burger</label>
                    <input type="text" id="newburger" name="burger">

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-ip"></span>
                    </button>

                </article>
            </form>
        </panel>
    </div>


</section>